In [2]:
"""1. Write a Python Program to accept the details of a student like name, roll number
and mark and display it.
Sample input: 
Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output:
Name: Anisha
Roll No: 21
Mark: 78"""

name=input("Enter the name:")
roll=int(input("Enter the roll number:"))
mark=int(input("Enter the mark:"))
print("Name:"+name+"\n"+"Roll No:"+str(roll)+"\n"+"Mark:"+str(mark))

Enter the name:Anisha
Enter the roll number:21
Enter the mark:78
Name:Anisha
Roll No:21
Mark:78

In [11]:
"""2. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5"""

f=int(input("Temperature in Fahrenheit "))
c=((f-32)/9 )*5
print("Temperature in Celsius ="+str(c))

Temperature in Fahrenheit 41
Temperature in Celsius =5.0

In [13]:
"""3.Write a Python program to accept two numbers from the user and display
its product"""

print("Product:",str(int(input("Number1:"))*int(input("Number2:"))))

Number1:5
Number2:2
Product: 10

In [16]:
"""4. Write a Python program to accept a string “Learn Python by Developing a
Website” and display the string like “Learn**Python** by Developing a
**Website**”"""

message="Learn Python by Developing a Website"
print(message.replace(" ","**"))

Learn**Python**by**Developing**a**Website

In [19]:
"""5. Write a Python program to accept the radius of a circle and display its area"""

import math
r=float(input("radius"))
print("Radius:",str((math.pi*(r*r))))

radius4
Radius: 50.26548245743669

In [ ]:
"""6. Python program to insert a number to any position in a list (Get the number to
be inserted and position from the user)"""
list=[45,10,5]
list.insert(int(input("Enter The position of number"))-1,int(input("Enter the number")))
list

In [25]:
sample_dict = {"name": "John", "age": 5, "salary": 8000, "city": "New York"}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [27]:
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']["salary"]=8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [28]:
tuple1 = (10, 20, 43, 54, 56, 68)
new_tuple = (tuple1[2], tuple1[3])
print(new_tuple)

(43, 54)

In [29]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
print(tuple1.count(50))

3